# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/crash.log
**/override.tf
**/override.tf.json

# 환경변수
.env
*.env

# OS
.DS_Store
Thumbs.db

# Claude
.claude
